<app-back-button></app-back-button>

@if (productsInBasket.length > 0) {
<div class="basket-container">
    @for (product of productsInBasket; track product.id) {
    <div class="product-item">
        <div class="product-image">
            <img [src]="product.image"
                 alt="{{product.name}}">
        </div>
        <div class="product-details">
            <h3 class="product-name">{{product.name}}</h3>
            <p class="product-category">{{product.category}}</p>
            <p class="product-description">{{product.description}}</p>
            <app-price [isDiscount]="product.discount"
                       [price]="product.price"
                       [discountValue]="product.discountValue"></app-price>
            <p class="product-id">Product ID: {{product.id}}</p>
            <button class="remove-button"
                    (click)="removeProduct(product)">Remove</button>
        </div>
    </div>
    }
    <app-totals [orderTotal]="orderTotal"></app-totals>
</div>
} @else {
<h1 class="empty-basket">BASKET IS EMPTY!!!!</h1>
}
