<app-back-button></app-back-button>

@if (productsInBasket.length > 0) {
<div class="basket-container">
    @for (product of productsInBasket; track product?.id) {
    <div class="product-item">
        <div class="product-image">
            <img [src]="product?.image"
                 alt="{{product?.name}}">
        </div>
        <div class="product-details">
            <h3 class="product-name">{{product?.name}}</h3>
            <p class="product-category">{{product?.category}}</p>
            <p class="product-description">{{product?.description}}</p>
            @if(product?.discount) {
            <span>price: <span class="line-through">{{product?.price}}zł</span> {{totalPrice(product?.price,
                product?.discountValue)}}zł</span>
            } @else {
            <p>price: {{product?.price}}</p>
            }
            <p class="product-id">Product ID: {{product?.id}}</p>
            <button (click)="removeProduct(product)">Remove</button>
        </div>
    </div>
    }
    <app-totals [orderTotal]="orderTotal"></app-totals>
</div>

<button routerLink="/checkout">Go to checkout</button>
} @else {
<h1>BASKET IS EMPTY!!!!</h1>
}
