.checkout-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.checkout-button:hover {
  background-color: #218838;
}
