<footer class="footer">
    <p>Ecommerce platform - created by Oskar Ners</p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/oskar-ners"
           target="_blank"
           class="icon-link">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/oskar-ners"
           target="_blank"
           class="icon-link">
            <i class="fab fa-github"></i>
        </a>
        <a href="mailto:ners.kontakt@wp.pl"
           class="icon-link">
            <i class="fas fa-envelope"></i>
        </a>
    </div>
</footer>
