<app-back-button></app-back-button>
<div class="product-container">
    <div class="product-image">
        <img [src]="currentProduct?.image"
             alt="{{currentProduct?.name}}" />
    </div>
    <div class="product-details">
        <h1 class="product-name">{{currentProduct?.name}}</h1>
        <p class="product-description">{{currentProduct?.description}}</p>

        @if(!currentProduct?.discount) {
        <p>Price: {{currentProduct?.price}}zł</p>
        }
        @else {
        <p>Price:
            <span class="line-through">{{currentProduct?.price}}zł</span>
            <span>{{totalPrice(currentProduct?.price, currentProduct?.discountValue)}}zł</span>
        </p>
        }

        <button (click)="addToBasket(currentProduct)"
                class="add-to-cart">Add to Cart</button>
    </div>
</div>
