<app-back-button></app-back-button>
<h1 style="color: white; text-align: center;">{{currentCategory | titlecase}}</h1>
<div class="products-container">
    @for(product of products; track product.id) {
    <a [routerLink]="product.id"
       class="product-box">
        <img [src]="product.image"
             alt="{{ product.name }}"
             class="product-image">
        <div class="product-details">
            <h3 class="product-name">{{ product.name }}</h3>
            @if(!product.discount) {
            <p>Price: {{product.price}}zł</p>
            } @else {
            <p>Price: <span class="line-through">{{product.price}}zł</span><span>{{product.price +
                    product.discountValue}}zł</span></p>
            }
        </div>
    </a>
    }
</div>
