<app-back-button></app-back-button>
<h1 style="color: white; text-align: center; letter-spacing: 2px; text-transform: uppercase;">{{currentCategory |
    titlecase}}</h1>
<div class="products-container">
    @for(product of products; track product.id) {
    <a [routerLink]="product.id"
       class="product-box">
        <img [src]="product.image"
             alt="{{ product.name }}"
             class="product-image">
        <div class="product-details">
            <h3 class="product-name">{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <app-price [isDiscount]="product.discount"
                       [price]="product.price"
                       [discountValue]="product.discountValue"></app-price>
        </div>
    </a>
    }
</div>
