.line-through {
  text-decoration: line-through;
  color: #b00;
  font-weight: bold;
}

.price-text {
  font-weight: bold;
  color: black;
}

.price-discount {
  color: #e63946;
  margin-left: 5px;
}
