<app-back-button [isCheckoutSuccess]="true"></app-back-button>
<section class="order-confirmation">
    <div class="confirmation-header">
        <h1>Thank You for Your Order!</h1>
        <p>Order ID: <span style="font-weight: bold;">{{orderID}}</span></p>
        <p class="order-total">Total Amount: {{ orderTotal }}zł</p>
        <p class="description">
            Your order has been successfully placed. You will receive an email confirmation shortly.
        </p>
        <a class="check-order"
           routerLink="/profile">Check your order in profile</a>
    </div>

    <div class="products-list">
        <h2>Order Summary</h2>
        <ul>
            @for(product of products; track product.id) {
            <li class="product-item">
                <div class="product-image">
                    <img [src]="product.image"
                         [alt]="product.name" />
                </div>
                <div class="product-info">
                    <h3>{{ product.name }}</h3>
                    <p>Description: {{ product.description }}</p>
                    <app-price [isDiscount]="product.discount"
                               [price]="product.price"
                               [discountValue]="product.discountValue"></app-price>
                </div>
            </li>
            }
        </ul>
    </div>

    <div class="final-message">
        <p>We hope you enjoy your purchase! If you have any questions, feel free to contact our support team.</p>
    </div>
</section>
