<nav class="navigation">
    <div (click)="closeSearch()"
         routerLink="/homepage"
         class="navigation-logo">
        <img src="assets/logo.png">
    </div>
    <div (click)="openMobileModal()"
         class="navigation-logo mobile">
        <img src="assets/logo.png">
    </div>
    <div class="navigation-menu">
        <a (click)="openSearchModal()"><i class="fa-solid fa-magnifying-glass"></i>Search</a>
        <a (click)="closeSearch()"
           routerLink="/profile"><i class="fa-solid fa-person"></i>Profile</a>
        <a (click)="closeSearch()"
           routerLink="/wishlist"><i class="fa-solid fa-heart"></i>Wishlist ({{numberOfWishlistProducts}})</a>
        <a (click)="closeSearch()"
           routerLink="/basket"><i class="fa-solid fa-cart-shopping"></i>Cart ({{numberOfProducts}})</a>
        <app-logout-button></app-logout-button>
    </div>
</nav>
<app-nav-modal-mobile [numberOfProducts]="numberOfProducts"></app-nav-modal-mobile>
<app-search-modal></app-search-modal>
