.navigation {
  position: fixed;
  z-index: 1000;
  max-height: 77px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #333;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  left: 0;
  right: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.navigation-logo img {
  height: 85px;
  width: auto;
  cursor: pointer;
}

.navigation-menu {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.navigation-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navigation-menu a:hover {
  color: #f4b400;
}

.navigation-menu i {
  font-size: 20px;
}

.navigation-logo.mobile img {
  display: none;
}

@media (max-width: 768px) {
  .navigation {
    justify-content: center;
    box-shadow: none;
  }
  .navigation-menu {
    display: none;
  }
  .navigation-logo img {
    display: none;
  }
  .navigation-logo.mobile img {
    display: block;
  }
}
