<app-back-button></app-back-button>

<section class="product-listing">
    <h1 class="product-listing__title">Number of products: {{ filteredProducts.length }}</h1>
    <app-products-listing-filters (categoryChange)="filterProductsByCategory($event)"></app-products-listing-filters>
    <div class="product-listing__grid">
        @for(product of filteredProducts; track product.id) {
        <div [routerLink]="['/homepage', product.category, product.id]"
             class="product-listing__item">
            <div class="product-listing__image-container">
                <img [src]="product.image"
                     alt="{{ product.name }}"
                     class="product-listing__image" />
            </div>
            <div class="product-listing__details">
                <app-add-to-wishlist [product]="product"></app-add-to-wishlist>
                <h2 class="product-listing__name">{{ product.name }}</h2>
                <p class="product-listing__description">{{ product.description }}</p>
                <app-price [isDiscount]="product.discount"
                           [price]="product.price"
                           [discountValue]="product.discountValue"></app-price>
            </div>
        </div>
        }
    </div>
</section>
