<app-back-button></app-back-button>
<section class="product-listing">
    <h1 class="product-listing__title">Number of products: {{ products.length }}</h1>

    <div class="product-listing__grid">
        @for(product of products; track product.id) {
        <div [routerLink]="['/homepage', product.category, product.id]"
             class="product-listing__item">
            <div class="product-listing__image-container">
                <img [src]="product.image"
                     alt="{{ product.name }}"
                     class="product-listing__image" />
            </div>
            <div class="product-listing__details">
                <h2 class="product-listing__name">{{ product.name }}</h2>
                <p class="product-listing__description">{{ product.description }}</p>

                @if(product?.discount) {
                <span style="font-weight: bold">Price:
                    <span class="line-through">{{product?.price}}zł</span>
                    <span style="color: #e63946; margin-left: 5px;">{{totalPrice(product?.price,
                        product?.discountValue)}}zł</span>
                </span>
                } @else {
                <p style="font-weight: bold; color: black;">Price: {{product?.price}}zł</p>
                }
            </div>
        </div>
        }
    </div>
</section>
